<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Course</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="card-panel">
				<div class="row valign-wrapper" >
					<div class="col s8 ">
						<h2 class="left-align"> Course Title </h2>
						<blockquote>
							This is an example introduction to the course..
						</blockquote>
						
					</div>
					<div class="col s4 ">
						<div class="center-align">
							<a class="waves-effect waves-light btn-large valign-wrapper">Button</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col s4">
					<ul class="collection with-header ">
						<li class="collection-header indigo white-text"> <h4> Informations </h4></li>
						<li class="collection-item"><div>Length<span class="new badge blue" data-badge-caption="">4 weeks</span></div></li>
						<li class="collection-item"><div>University<span class="new badge blue" data-badge-caption="">Harvard</span></div></li>
						<li class="collection-item"><div>Subject<span class="new badge blue" data-badge-caption="">Management</span></div></li>
						<li class="collection-item"><div>Hello<span class="new badge blue" data-badge-caption="
						">likan</span></div></li>
						<li class="collection-item"><div>Level<span class="new badge blue" data-badge-caption="">Intermidiate</span></div></li>
					</ul>
					<div class="divider"></div>
					<h4 class="center-align"> Instructors </h4>
					<ul class="collection">
						
						<li class="collection-item avatar">
							<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
							<p>First Line <br>
								Second Line
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
							<p>First Line <br>
								Second Line
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
							<p>First Line <br>
								Second Line
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
							<p>First Line <br>
								Second Line
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
						</li>
					</ul>
					
				</div>
				<div class="col s8">
					<div class="card-panel">
						<h4> About this course </h4>
						<div class="divider"></div>
						<div class="section">
							<p class="text-flow">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<p>
								Yuccie farm-to-table man braid pitchfork, DIY hashtag yr kale chips thundercats quinoa fashion axe. Aesthetic venmo woke marfa, chillwave authentic kale chips church-key 90's direct trade. Green juice occupy wayfarers, pop-up listicle fam hella williamsburg quinoa fap selvage. Art party hammock bespoke, letterpress godard food truck lo-fi. Coloring book vexillologist mumblecore ennui hammock single-origin coffee hashtag, master cleanse vice narwhal fam freegan prism. Hashtag etsy mumblecore lomo irony hammock. Glossier williamsburg kogi, next level pinterest unicorn schlitz fashion axe distillery 90's tattooed vape DIY shabby chic.
								
							</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="col s8">
					
					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><h5> Reviews </h5></div>
							<div class="collapsible-body">
								<ul class="collection">
									<li class="collection-item">
										<b> Ryan Bourhil </b> <br>
										<p> 
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</p>	
									</li>
									<li class="collection-item">
										<b> Nana </b> <br>
										<p> 
											proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</p>	
									</li>
									<li class="collection-item">
										<b> Zoubida </b> <br>
										<p> 
											 Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</p>	
									</li>
									<li class="collection-item">
										<b> Totti </b> <br>
										<p> 
											Duis aute irure dolor in reprehenderit in voluptate velit esse
											cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
											proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</p>	
									</li>
								</ul>
							</div>
						</li>
					</ul>
					
				</div>
			</div>
			
		</div>
		<script type="text/javascript" charset="utf-8" async defer>
			$(document).ready(function(){
		$('.collapsible').collapsible();
		});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	</body>
</html>