<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title> University </title>
		<link rel="stylesheet" href="">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="card">
						
						<div class="card-image">
							<img src="https://www.edx.org/sites/default/files/school/image/banner/harvardx.jpg">
							<span class="card-title"> <h3> HarvardX</h3></span>
						</div>
						<div class="card-content">
							<div class="section">
								<p class = "">
									Harvard University is devoted to excellence in teaching, learning, and research, and to developing leaders in many disciplines who make a difference globally. Harvard faculty are engaged with teaching and research to push the boundaries of human knowledge. The University has twelve degree-granting Schools in addition to the Radcliffe Institute for Advanced Study.
								</p>
							</div>
							<div class="section">
								<p class="">
									Established in 1636, Harvard is the oldest institution of higher education in the United States. The University, which is based in Cambridge and Boston, Massachusetts, has an enrollment of over 20,000 degree candidates, including undergraduate, graduate, and professional students. Harvard has more than 360,000 alumni around the world.
								</p>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="section">
					<h4>	Harvard University MOOCs </h4>
					<p>	Browse free online courses in a variety of subjects. Harvard University courses found below can be audited free or students can choose to receive a verified certificate for a small fee. Select a course to learn more.</p>
				</div>
				<div class="divider">	</div>
				<div class="col s4">
					<div class="card">
						<div class="card-image">
							<img src="http://lorempixel.com/640/480/abstract/9">
							<span class="card-title">Card Title</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
							little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#">This is a link</a>
						</div>
					</div>
				</div>
				<div class="col s4">
					<div class="card">
						<div class="card-image">
							<img src="http://lorempixel.com/640/480/abstract/8">
							<span class="card-title">Card Title</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
							little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#">This is a link</a>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="card">
						<div class="card-image">
							<img src="http://lorempixel.com/640/480/abstract/10">
							<span class="card-title">Card Title</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
							little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#">This is a link</a>
						</div>
					</div>
				</div>
				<div class="col s4">
					<div class="card">
						<div class="card-image">
							<img src="http://lorempixel.com/640/480/abstract/7">
							<span class="card-title">Card Title</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
							little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#">This is a link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	</body>
</html>