<h1>Editing Course</h1>


<%= render 'form', course: @course%>
<%= link_to 'Show', @course, class: 'waves-effect waves-yellow btn-flat' %> |
<%= link_to 'Back', courses_path, class: 'waves-effect waves-yellow btn-flat'%>
