<div class="container">
  <div class="row valign-wrapper">
    <div class="col s6 ">
          <h3 > Your courses </h3>
    </div>
    <div class="col s6 right-align">
       <%= link_to 'Add new course', new_course_path, class: 'waves-effect btn indigo'  %>
    </div>
  </div>
  <div class="row">
      
      <% @courses.each do |course| %>
				 <%= render partial: "cards/card", locals: {course: course} %>
				<% end %>
  </div>
</div>
<br>

