<h1>Editing University</h1>

<%= render 'form', university: @university %>

<%= link_to 'Show', @university, class: 'waves-effect waves-yellow btn-flat' %> |
<%= link_to 'Back', universities_path, class: 'waves-effect waves-yellow btn-flat' %>
